html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 5;
  bottom: -30px;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}
button {
  margin: 40px 45vw;
  align-items: center;
  width: 10vw;
  height: 3vw;
  border-radius: 1.5vw;
  border: none;
  background-color: #b58120a1;
  outline: none;
}

.celebrate img {
  width: 160px;
  height: 160px;
  margin: 20px;
}

.celebrate {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 17%;
  width: 50%;
  left: 33%;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.star1 {
  position: relative;
  top: 67px;
  left: -61px;
  display: none;
}
.star3 {
  position: relative;
  top: 67px;
  left: 14px;
  display: none;
}
.star2 {
  display: none;
}

.score1 .star1 {
  display: block;
  z-index: 65;
}

.score2 .star1 {
  display: block;
  z-index: 65;
}
.score2 .star2 {
  display: block;
  z-index: 65;
}

.score3 .star1 {
  display: block;
  z-index: 65;
}
.score3 .star2 {
  display: block;
  z-index: 65;
}
.score3 .star3 {
  display: block;
  z-index: 65;
}
